.parkEntry {
    background-color: lightgray;
    margin-top: 10px;
}

.meetupEntry {
    background-color: lightgray;
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

li {
    padding: 10px;
    border-radius: 5px;
}